@font-face {
    font-family: 'GT America Trial Rg';
    src: url('GTAmericaTrial-Rg.eot');
    src: url('GTAmericaTrial-Rg.eot?#iefix') format('embedded-opentype'),
        url('GTAmericaTrial-Rg.woff2') format('woff2'),
        url('GTAmericaTrial-Rg.woff') format('woff'),
        url('GTAmericaTrial-Rg.ttf') format('truetype'),
        url('GTAmericaTrial-Rg.svg#GTAmericaTrial-Rg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Trial Lt';
    src: url('GTAmericaTrial-Lt.eot');
    src: url('GTAmericaTrial-Lt.eot?#iefix') format('embedded-opentype'),
        url('GTAmericaTrial-Lt.woff2') format('woff2'),
        url('GTAmericaTrial-Lt.woff') format('woff'),
        url('GTAmericaTrial-Lt.ttf') format('truetype'),
        url('GTAmericaTrial-Lt.svg#GTAmericaTrial-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Trial Bd';
    src: url('GTAmericaTrial-Bd.eot');
    src: url('GTAmericaTrial-Bd.eot?#iefix') format('embedded-opentype'),
        url('GTAmericaTrial-Bd.woff2') format('woff2'),
        url('GTAmericaTrial-Bd.woff') format('woff'),
        url('GTAmericaTrial-Bd.ttf') format('truetype'),
        url('GTAmericaTrial-Bd.svg#GTAmericaTrial-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Trial Md';
    src: url('GTAmericaTrial-Md.eot');
    src: url('GTAmericaTrial-Md.eot?#iefix') format('embedded-opentype'),
        url('GTAmericaTrial-Md.woff2') format('woff2'),
        url('GTAmericaTrial-Md.woff') format('woff'),
        url('GTAmericaTrial-Md.ttf') format('truetype'),
        url('GTAmericaTrial-Md.svg#GTAmericaTrial-Md') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Trial U Lt';
    src: url('GTAmericaTrial-ULt.eot');
    src: url('GTAmericaTrial-ULt.eot?#iefix') format('embedded-opentype'),
        url('GTAmericaTrial-ULt.woff2') format('woff2'),
        url('GTAmericaTrial-ULt.woff') format('woff'),
        url('GTAmericaTrial-ULt.ttf') format('truetype'),
        url('GTAmericaTrial-ULt.svg#GTAmericaTrial-ULt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Trial Th';
    src: url('GTAmericaTrial-Th.eot');
    src: url('GTAmericaTrial-Th.eot?#iefix') format('embedded-opentype'),
        url('GTAmericaTrial-Th.woff2') format('woff2'),
        url('GTAmericaTrial-Th.woff') format('woff'),
        url('GTAmericaTrial-Th.ttf') format('truetype'),
        url('GTAmericaTrial-Th.svg#GTAmericaTrial-Th') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Trial Bl';
    src: url('GTAmericaTrial-Bl.eot');
    src: url('GTAmericaTrial-Bl.eot?#iefix') format('embedded-opentype'),
        url('GTAmericaTrial-Bl.woff2') format('woff2'),
        url('GTAmericaTrial-Bl.woff') format('woff'),
        url('GTAmericaTrial-Bl.ttf') format('truetype'),
        url('GTAmericaTrial-Bl.svg#GTAmericaTrial-Bl') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

